<%= form_for task, remote: true do |f| %>
<% @task = Task.last %>
<p>ID :- <%= task.id %>|
Name :-<%= task.name %>|
Status :-<%= task.complete %>|
<%= link_to "(remove)", task, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>	
  		
  			<%= f.check_box :complete %>
  			<%= f.submit "Update" %>
  		
</p>
<% end %>