<h1>Tasks </h1>
<%#= link_to "New Task", new_task_path, id: "new_link" %>

<%#= link_to "New Task", new_task_path, id: "new_link", remote: true %>
<%= render 'form'%>
<h2>Incomplete Tasks</h2>
<div class="tasks" id="incomplete_tasks">
	<%#= render @incomplete_tasks %>
  <% @incomplete_tasks.each do |task| %>
  		<%= form_for task, remote: true do |f| %>
  		<p>ID :- <%= task.id %>|
  		Name :-<%= task.name %>|
  		Status :-<%= task.complete %>|
  		<%= link_to "(remove)", task, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>	
  			<%= f.check_box :complete %>
  			<%= f.submit "Update" %>
        </p>
  		<% end %>
  	<%end%>
  	<%#= byebug %>
</div>
<h2>Comlpete Tasks</h2>
<div class="tasks" id="complete_tasks">
	<%#= render @complete_tasks %>
  <% @complete_tasks.each do |task| %>
    <%= form_for task, remote: true do |f| %>
      <p>ID :- <%= task.id %>|
  		Name :-<%= task.name %>|
  		Status :-<%= task.complete %> |
  		<%= link_to "(remove)", task, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
  	  </p>
    <%end%>
  <%end%>
</div>