<script>
  $(document).on("keyup", "#search-form", function(){
       $.get($("#search-form").attr("action"), $("#search-form").serialize(), null, "script");
       return false;
  });
  // $(document).on("change", "#search-form", function(){
  //      $.get($("#search-form").attr("action"), $("#search-form").serialize(), null, "script");
  //      return false;
  // });
  

  $(document).on("change", "#noFoPage-form", function(){
       $.get($("#noFoPage-form").attr("action"), $("#noFoPage-form").serialize(), null, "script");
       return false;
  });
  // $(document).on("keyup", "#noFoPage-form", function(){
  //      $.get($("#noFoPage-form").attr("action"), $("#noFoPage-form").serialize(), null, "script");
  //      return false;
  // });
</script>
<p id="notice"><%= notice %></p>
<% if @projects.blank? %>
  <h4>There are no Projects containing the term <%= params[:search] %>.</h4>
<% end %>
<h1>Projects</h1>
<table><tr>
  <td><%= render 'search', project: @project %></td>
  <td>Select No. of Records</td>
  <td><%= render 'pagging', project: @project %></td>
</tr></table>
<div class="projects" id="search_list"> 
<%= render 'index_content' %>
</div>
<br><br><br><br><br>
<%= link_to 'New Project', new_project_path %>